<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Hoe is het onstaan</h2>
                    <h3 class="section-subheading text-muted">Een overzicht van de weg er naar toe.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Februari 2015</h4>
                                    <h4 class="subheading">Het onzekere begin.</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">De twee vrienden waren het er overeens dit was een fantastisch plan, ze moesten zo snel mogelijk een fiets gaan kopen.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>December 2012</h4>
                                    <h4 class="subheading">Geen weg meer terug!</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Het was een feit en er was geen weg meer terug voor deze mannen.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Steun
                                    <br>dit
                                    <br>Initiatief!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>